<head>
    @await Html.PartialAsync("~/Views/Utilities/Utilities.cshtml")
    <title>Formulario de Inicio de Sesión</title>
    <link rel="stylesheet" href="css/Login.css">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="login-form card p-4">
            <h2 class="text-center">ToDo&nbsp;<i class="fa-regular fa-circle-check"></i></h2>
            <form class="inputCredentials" action="/login" method="post">
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required>
                </div>
                <div class="form-group">
                    <input id="password" type="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </form>
            <label><a href="Index/register">Crear cuenta nueva</a></label>
        </div>
    </div>


    @await Html.PartialAsync("~/Views/Utilities/Modal.cshtml")
    <script src="js/Login.js" type="module"></script>
</body>
