    <!-- Modal de alerta -->
<div class="modal" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true" style="font-family:'Urbanist' ">
    <div class="modal-dialog" id="modalCustom">
        <div class="modal-content">
            <div class="modal-header" style="color:#007bff;display: flex;align-items: center;justify-content: flex-start">
                <i class="fa-regular fa-circle-check"></i>&nbsp;
                <h5 class="modal-title" id="alertModalLabel"></h5>
            </div>
            <div class="modal-body" id="alertMessage" style="color:#003785;font-weight:500">
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
